/*-------------- about -----------------*/
.about{
	margin: 90px 0;
	font-size: 1.8rem;

	h2:first-child, .h2:first-child{margin-top: -5px;}
}

@media (max-width: 767px) {
	.about{
		margin: 43px 0 20px;
		font-size: 1.5rem;

		img{margin-bottom: 30px;}
	}
}