/*-------------- services-slider -----------------*/
.services-slider-wrap{
	padding: 70px 0 22px;
	margin: 90px 0;

	&__title{
		padding-bottom: 40px;
		border-bottom: 1px solid #779be9;
		margin-bottom: 50px;

		h2, .h2{margin-bottom: 0;}
	}
}
.services-slider{
	display: none;
	@include font(normal, normal, 1.8rem, 1.2, #fff);
	
	&.slick-initialized{display: block;}

	&__title{
		font-family: $font-ubuntu;
		@include font(normal, normal, 2.4rem, 1.2, #fff);
		margin-bottom: 65px;
	}

	.slick-track{display: flex;}
	.slick-slide{height: auto;}

	.slick-dots{
		&,
		li{
			@include reset-list;
		}

		&{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 83px;
		}

		li::before{display: none;}

		button{
			display: inline-block;
			vertical-align: top;
			width: 40px;
			height: 4px;
			background: #6486d2;
			transition: background 0.2s ease 0s;
			margin: 5px;
			font-size: 0;
			padding: 0;
			box-shadow: none;
			border: none;
			outline: none;
			cursor: pointer;
		}

		button:hover,
		.slick-active button{
			background: #fff;
		}
	}
}

.list-col{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	li{
		width: calc(33.33% - 30px);
		margin: 0 15px 22px;
	}
}