/*-------------- works-slider -----------------*/
.works-slider-wrap{
	margin: 98px 0 80px;

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 42px;
	}

	&__info{
		display: flex;
		align-items: center;
		margin-right: 20px;

		h2, .h2{
			margin-right: 55px;
			margin-bottom: 0;
		}
	}
}

.works-slider{
	display: none;

	&.slick-initialized{display: block;}
	
	&__item{
		position: relative;
		overflow: hidden;
		text-decoration: none;

		img{width: 100%;}
	}

	&__popup{
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		padding: 47px;
		background: rgba(0,0,0,0.635);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__title{
		font-family: $font-ubuntu;
		@include font(normal, normal, 2.6rem, 1.2, #fff);
	}

	
}

@media (min-width: 768px) {
	.works-slider{
		&__popup{
			scale: 1.05;
			opacity: 0;
			transition: all 0.2s ease 0s;
		}

		&__item:hover &__popup{
			scale: 1;
			opacity: 1;
		}
	}
}

@media (max-width: 767px) {
	.works-slider-wrap{
		margin: 50px 0 40px;

		&__top,
		&__info{
			display: block;
		}

		&__info{
			margin-right: 0;

			h2, .h2{margin-right: 0;}
		}

		&__btn{
			margin-top: 42px;
			text-align: center;

			.btn{
				width: 100%;
				max-width: 280px;
			}
		}
	}

	.works-slider{
		display: block;
		margin-left: -20px;
		margin-right: -20px;

		&__item{display: none;}
		&__item:nth-child(-n+3){display: block;}

		&__popup{
			display: flex;
			background: transparent;
			font-size: 2rem;
			line-height: 1.45;
		}
	}
}