extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block
		.top-block__img(style="background-image: url(assets/img/bg-top-block.jpg)")

		.container
			.row
				.col-6
					.top-block__info
						.top-block__title Строительство, Реконструкция и Ремонт

						.top-block__text объектов энергетики, капитального строительства ЖКХ, промышленной инфраструктуры, монтаж теплоэнергетического и промышленного оборудования, в качестве генерального подрядчика

						.top-block__btn
							a.btn.btn_border.btn_white.btn_big(href='#')
								span Смотреть выполненные работы
							
	section.about
		.container
			.row
				.col-6
					h2 О нас

					p Основной деятельностью ООО «ВСЭР» является выполнение работ по Строительству, Реконструкции и Ремонту объектов энергетики, капитального строительства, 
					p Мы — динамично развивающееся компания с высококвалифицированным персоналом. Располагаем производственными участками в Приморском и Камчатском краях.

				.col-6
					img(src="assets/img/about.jpg", alt="")

	section.services-slider-wrap
		.container
			.row
				.col-12
					.services-slider-wrap__title
						h2 Наши услуги

					.services-slider.js-services-slider
						-
							var list=[
								{
									title:'Строительство, реконструкция, ремонт и техническое обслуживание',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
										'Газоперерабатывающие заводы',
										'Химические заводы',
										'Нефтеперерабатывающие заводы',
										'Топливопроводы',
										'Газопроводы',
										'Сети водоснабжения и водоотведения',
										'Резервуары',
										'Прочие инженерные сооружения',
									]
								},
								{
									title:'Строительство, реконструкция',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
									]
								},
								{
									title:'Строительство',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
										'Газоперерабатывающие заводы',
										'Химические заводы',
										'Нефтеперерабатывающие заводы',
									]
								},
							]

						each item in list
							.services-slider__sect
								.services-slider__title= item.text

								ul.services-slider__list
									each sub in item.sub
										li.services-slider__item= sub