extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block
		.top-block__img(style="background-image: url(assets/img/bg-top-block.jpg)")

		.container
			.row
				.col-md-6
					.top-block__info
						.top-block__title Строительство, Реконструкция и Ремонт

						.top-block__text объектов энергетики, капитального строительства ЖКХ, промышленной инфраструктуры, монтаж теплоэнергетического и промышленного оборудования, в качестве генерального подрядчика

						.top-block__btn
							a.btn.btn_border.btn_white.btn_big(href='#')
								span Смотреть выполненные работы
							
	section.about
		.container
			.row.d-md-none
				.col-12
					h2 О нас
			.row
				.col-md-6.order-2.order-md-1
					h2.d-none.d-md-block О нас

					p Основной деятельностью ООО «ВСЭР» является выполнение работ по Строительству, Реконструкции и Ремонту объектов энергетики, капитального строительства, 
					p Мы — динамично развивающееся компания с высококвалифицированным персоналом. Располагаем производственными участками в Приморском и Камчатском краях.

				.col-md-6.order-1.order-md-2
					img(src="assets/img/about.jpg", alt="")

	section.services-slider-wrap.bg-grad-blue
		.container
			.row
				.col-12
					.services-slider-wrap__title
						h2 Наши услуги

					.services-slider.js-services-slider
						-
							var list=[
								{
									title:'Строительство, реконструкция, ремонт и техническое обслуживание',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
										'Газоперерабатывающие заводы',
										'Химические заводы',
										'Нефтеперерабатывающие заводы',
										'Топливопроводы',
										'Газопроводы',
										'Сети водоснабжения и водоотведения',
										'Резервуары',
										'Прочие инженерные сооружения',
									]
								},
								{
									title:'Строительство, реконструкция',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
									]
								},
								{
									title:'Строительство',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
										'Газоперерабатывающие заводы',
										'Химические заводы',
										'Нефтеперерабатывающие заводы',
									]
								},
							]

						each item in list
							.services-slider__sect
								.services-slider__title= item.title

								ul.list-col
									each sub in item.sub
										li= sub

					.services-slider-wrap__btn.d-md-none
						a.btn.btn_border.btn_white.btn_small(href='#')
							span Показать все услуги

	section.works-slider-wrap
		.container
			.row
				.col-12
					.works-slider-wrap__top
						.works-slider-wrap__info
							h2 Выполненные работы

							a.btn.btn_border.btn_small(href='#').d-none.d-md-inline-block
								span Все работы

						.slider-nav
							.slider-dots.js-works-slider-dots.d-none.d-lg-block
							.slider-arrows.js-works-slider-arr


					.works-slider.js-works-slider
						-
							var list=[
								{img:'works-slide1.jpg', title:'Условное название объекта'},
								{img:'works-slide2.jpg', title:'Условное название объекта 2'},
								{img:'works-slide3.jpg', title:'Условное название объекта 3'},
								{img:'works-slide2.jpg', title:'Условное название объекта 2'},
								{img:'works-slide1.jpg', title:'Условное название объекта'},
								{img:'works-slide3.jpg', title:'Условное название объекта 3'},
								{img:'works-slide3.jpg', title:'Условное название объекта 3'},
								{img:'works-slide2.jpg', title:'Условное название объекта 2'},
								{img:'works-slide1.jpg', title:'Условное название объекта'},
							]

						each item in list
							a(href="#").works-slider__item
								img(src="assets/img/"+item.img, alt="")
								
								.works-slider__popup
									.works-slider__title= item.title

					.works-slider-wrap__btn.d-md-none
						a.btn.btn_border.btn_small(href='#')
							span Все работы
					
	section.partner-slider-wrap
		.container
			.row
				.col-12
					.partner-slider-wrap__top
						.partner-slider-wrap__info
							h2 Наши партнеры

						.slider-nav
							.slider-dots.js-partner-slider-dots.d-none.d-lg-block
							.slider-arrows.js-partner-slider-arr


					.partner-slider.js-partner-slider
						-
							var list=[
								{img:'partner1.png', title:'Название компании'},
								{img:'partner2.png', title:'Название компании'},
								{img:'partner3.png', title:'Название компании'},
								{img:'partner4.png', title:'Название компании'},
								{img:'partner5.png', title:'Название компании'},
								{img:'partner6.png', title:'Название компании'},
								{img:'partner7.png', title:'Название компании'},
								{img:'partner8.png', title:'Название компании'},
								{img:'partner9.png', title:'Название компании'},
								{img:'partner10.png', title:'Название компании'},
							]

						each item in list
							.partner-slider__item
								.partner-slider__img
									img(src="assets/img/"+item.img, alt="")
								
								.partner-slider__title= item.title

					.partner-slider-wrap__btn.d-md-none
						a.btn.btn_border.btn_small(href='#')
							span Показать больше партнеров
	
	section.map-block.last-elem
		script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')

		.map-block__content
			#map.map

		.container
			.row
				.col-12
					.map-block__info
						h3 Контакты

						.tabs-page.js-tabs-page
							ul.tabs-page__list.js-tabs-page-list
								li.tabs-page__item.js-tabs-page-item.js-map-item(data-item='tab1', data-coordx='43.126755' data-coordy='131.878086') Владивостокский производственный центр:
								li.tabs-page__item.js-tabs-page-item.js-map-item(data-item='tab2', data-coordx='52.969485' data-coordy='158.684735') Камчатский производственный центр:

							.tabs-page__content.js-tabs-page-content
								#tab1.tabs-page__content-item.js-tabs-page-content-item.js-tabs-page-content-item
									.contacts
										.contacts__item
											.contacts__icon
												+svg('ic-call','ic-call', '17', '17')
											.contacts__text
												a(href="tel:+74232098541") +7(423)209-85-41

										.contacts__item
											.contacts__icon
												+svg('ic-email','ic-email', '17', '13')
											.contacts__text
												a(href="mailto:vser@vser.ru") vser@vser.ru

										.contacts__item
											.contacts__icon
												+svg('ic-address','ic-address', '15', '20')
											.contacts__text 690090, г. Владивосток, ул. Западная 29 ст.2, оф. 416

								#tab2.tabs-page__content-item.js-tabs-page-content-item.js-tabs-page-content-item
									.contacts
										.contacts__item
											.contacts__icon
												+svg('ic-call','ic-call', '17', '17')
											.contacts__text
												a(href="tel:+79146233099") +7(914)623 30 99

										.contacts__item
											.contacts__icon
												+svg('ic-email','ic-email', '17', '13')
											.contacts__text
												a(href="mailto:vser@vser.ru") vser@vser.ru

										.contacts__item
											.contacts__icon
												+svg('ic-address','ic-address', '15', '20')
											.contacts__text 683030, г. Петропавловск-Камчатский, ул. Сахалинская, 28
								