extends ../layout/main

block variables
	- var title = 'Наши партнеры';
	- var h1 = 'Наши партнеры';

block content
	section
		.container
			.row
				.col-12
					p С учётом сложившейся международной обстановки, высокое качество позиционных исследований выявляет срочную потребность новых предложений. Но ключевые особенности структуры проекта освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, подвергнуты целой серии независимых исследований. Есть над чем задуматься: явные признаки победы институционализации своевременно верифицированы. Как принято считать, представители современных социальных резервов лишь добавляют фракционных разногласий и обнародованы.
					
					.partner-list
						-
							var list=[
								{img:'partner1.png', title:'Название компании'},
								{img:'partner2.png', title:'Название компании'},
								{img:'partner3.png', title:'Название компании'},
								{img:'partner4.png', title:'Название компании'},
								{img:'partner5.png', title:'Название компании'},
								{img:'partner6.png', title:'Название компании'},
								{img:'partner7.png', title:'Название компании'},
								{img:'partner8.png', title:'Название компании'},
								{img:'partner9.png', title:'Название компании'},
								{img:'partner10.png', title:'Название компании'},
							]

						each item in list
							.partner-item
								.partner-item__img
									img(src="assets/img/"+item.img, alt="")
								
								.partner-item__title= item.title


					p Современные технологии достигли такого уровня, что постоянный количественный рост и сфера нашей активности играет определяющее значение для экономической целесообразности принимаемых решений. А также предприниматели в сети интернет и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям.