extends ../layout/main

block variables
	- var title = 'Наши услуги';
	- var h1 = 'Наши услуги';

block content
	section.service-page
		.container
			.row
				.col-md-4.col-lg-3
					ul.left-menu
						-
							var list=[
								{
									text:'Строительство',
									sub:[
										{text:'Электрические станции'},
										{text:'Котельные'},
										{text:'Тепловые сети', status:'active'},
										{text:'Электрические сети'},
										{text:'Газоперерабатывающие заводцы'},
										{text:'Химические заводы'},
										{text:'Нефтеперерабатывающие заводы'},
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
										{text:'Резервуары'},
										{text:'Прочие инженерные сооружения'},
									]
								},
								{
									text:'Реконструкция и ремонт',
									sub:[
										{text:'Газоперерабатывающие заводцы'},
										{text:'Химические заводы'},
										{text:'Нефтеперерабатывающие заводы'},
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
									]
								},
								{
									text:'Техническое обслуживание',
									sub:[
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
									]
								},
								{
									text:'Монтаж',
									sub:[
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
									]
								},
								{
									text:'Прочие услуги',
									sub:[
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
										{text:'Топливопроводы'},
										{text:'Газопроводы'},
										{text:'Сети водоснабжения и водоотведения'},
									]
								},
							]
						
						each item in list
							li.left-menu__item
								a(href="#").left-menu__link.js-left-menu-link= item.text
									span.left-menu__arr.js-left-menu-arr
										+svg('ic-arrow-right','ic-arrow-right ic-stroke', '7', '14')
								
								ul.left-menu__sub.js-left-menu-sub
									each sub in item.sub
										li.left-menu__sub-item(class=sub.status?'active':'')
											a(href="#").left-menu__sub-link= sub.text
				
				.col-md-8.col-lg-9
					.h3 Строительство, реконструкция, ремонт и техническое обслуживание тепловых сетей

					p Сложно сказать, почему стремящиеся вытеснить традиционное производство, нанотехнологии объективно рассмотрены соответствующими инстанциями. С учётом сложившейся международной обстановки, семантический разбор внешних противодействий обеспечивает актуальность экономической целесообразности принимаемых решений.

					img(src="assets/img/service-img.jpg", alt="")

					p И нет сомнений, что сделанные на базе интернет-аналитики выводы представлены в исключительно положительном свете. Ясность нашей позиции очевидна: высокотехнологичная концепция общественного уклада однозначно фиксирует необходимость укрепления моральных ценностей. 
					p В частности, социально-экономическое развитие создаёт предпосылки для стандартных подходов. Следует отметить, что разбавленное изрядной долей эмпатии, рациональное мышление не оставляет шанса для системы обучения кадров, соответствующей насущным потребностям. А также стремящиеся вытеснить традиционное производство, нанотехнологии, превозмогая сложившуюся непростую экономическую ситуацию, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
					p В своём стремлении улучшить пользовательский опыт мы упускаем, что предприниматели в сети интернет формируют глобальную экономическую сеть и при этом - представлены в исключительно положительном свете. Приятно, граждане, наблюдать, как базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объединены в целые кластеры себе подобных. Непосредственные участники технического прогресса указаны как претенденты на роль ключевых факторов. Безусловно, новая модель организационной деятельности говорит о возможностях модели развития! Учитывая ключевые сценарии поведения, понимание сути ресурсосберегающих технологий способствует повышению качества вывода текущих активов. Но предприниматели в сети интернет призваны к ответу.

					a.btn(href='#')
						span Получить консультацию
						+svg('ic-arr-right','ic-arr-right ic-stroke', '24', '12')