.header-top{
	border-bottom: 1px solid #e1e1e1;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 0;
	}

	&__logo{margin-right: 15px;}
	&__info{margin: 0 15px;}

	&__address{
		@include font(normal, normal, 1.5rem, 1.2, #373737);
	}
}

.header-contacts{
	display: flex;
	@include font(normal, normal, 2.1rem, 1.6, #373737);
	margin-left: 15px;

	&__icon{
		flex: 0 0 17px;
		margin-right: 18px;

		.icon{fill: $color-blue;}
	}

	a{
		color: #373737;
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	 a:hover{color: $color-blue;}
}

.header-time{
	display: flex;
	@include font(normal, normal, 1.5rem, 1.2, #696969);
	margin-top: 15px;

	&:first-child{margin-top: 0;}
	&__item:not(:last-child){margin-right: 28px;}
}

.header-soc{
	display: flex;
	margin: 0 15px;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: 1px solid $color-light-blue;
		border-radius: 50%;
		text-decoration: none;

		.icon{
			fill: $color-blue;
			transition: all 0.2s ease 0s;
		}
	}

	&__item:not(:last-child){margin-right: 10px;}
	&__item:hover .icon{opacity: 0.7;}
}

.header-mail{
	display: inline-flex;
	align-items: center;
	margin: 0 15px;

	&__icon{
		flex: 0 0 17px;
		margin-right: 18px;

		.icon{fill: $color-blue}
	}

	&__text{
		@include font(normal, normal, 1.6rem, 1.2, #2c2c2c);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__text:hover{color: $color-blue;}
}

.header-nav{
	padding: 20px 0;
	
	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__cat{
		display: inline-flex;
		align-items: center;
		@include font(normal, normal, 1.7rem, 1.2, #000);
		text-decoration: none;
		transition: color 0.2s ease 0s;
		margin-right: 15px;
	}

	&__cat-icon{
		display: inline-block;
		width: 40px;
		height: 2px;
		background: #000;
		margin-right: 35px;
		position: relative;
		margin-bottom: 10px;
		transition: background 0.2s ease 0s;
	}

	&__cat-icon::after{
		content: '';
		display: inline-block;
		width: calc(100% - 15px);
		height: 2px;
		background: #000;
		position: absolute;
		bottom: -10px;
		left: 0;
		transition: background 0.2s ease 0s;
	}

	&__cat:hover,
	&__cat.active{
		color: $color-blue;
	}

	&__cat.active &__cat-icon,
	&__cat.active &__cat-icon::after,
	&__cat:hover &__cat-icon,
	&__cat:hover &__cat-icon::after{
		background: $color-blue;
	}
}

.main-menu{
	&__list,
	&__item{
		@include reset-list;
	}

	&__item::before{display: none;}

	&__list{
		display: flex;
		align-items: center;
	}

	&__item,
	&__link{
		@include font(normal, normal, 1.7rem, 1.2, #000);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__link:hover,
	&__item.active &__link{
		color: $color-blue;
	}

	&__item:not(:last-child){margin-right: 60px;}
}

@media (max-width: 1229px) {
	.header-time{
		display: block;
		&__item:not(:last-child){margin-right: 0;}
	}
}

@media (max-width: 991px) {
	.header-top{
		&__content{
			height: 74px;
			padding: 22px 0 15px;
		}

		&__logo{
			height: 100%;
			img{max-height: 100%;}
		}

		&__info,
		.header-contacts,
		.header-mail{
			display: none;
		}

		&__info{margin-top: 40px;}
	}

	.header-contacts{
		margin: 0 0 20px;
		font-size: 1.6rem;
	}

	.header-mob-contact{
		background: #fff;

		&__content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 45px;
		}

		&__item{
			display: inline-flex;
			align-items: center;
		}

		&__icon{
			flex: 0 0 20px;
			margin-right: 10px;

			.icon{fill: $color-blue;}
		}

		&__text{
			@include font(normal, normal, 1.6rem, 1.2, $color-text);

			a{
				color: $color-text;
				text-decoration: none;
				transition: color 0.2s ease 0s;
			}

			a:hover{color: $color-blue;}
		}
	}

	.mobile-menu{
		display: none;
		width: 100%;
		height: calc(100vh - 120px);
		background: #fff;
		overflow-y: auto;
		overflow-x: hidden;
		position: fixed;
		top: 120px;
		left: 0;
		z-index: 1000;

		.header-top__info{display: block;}
		.header-contacts{display: flex;}
	}

	.header-nav{
		&__content,
		&__cat{
			display: block;
			position: relative;
		}

		&__content{
			padding: 40px 0;
			margin-bottom: 26px;
		}

		&__content::before{
			content: '';
			display: block;
			width: 1500px;
			height: 100%;
			background: #f5f5f5;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&__cat{margin: 0 0 40px;}
		&__cat-icon{display: none;}
	}

	.main-menu{
		&__list{display: block;}
		&__item:not(:last-child){margin-bottom: 40px;}
	}

	.header-mail{margin: 0 0 20px;}
}

@media (max-width: 767px) {
	.header-top{
		&__logo{max-width: 130px;}
		&__info{margin: 0;}
	}

	.header-mob-contact{
		&__text{font-size: 1.4rem;}
	}

	.header-nav{
		&__content::before{display: none;}

		&__content{
			background: #f5f5f5;
			margin-left: -52px;
			margin-right: -52px;
			padding-left: 52px;
			padding-right: 52px;
		}

		&__cat{font-size: 1.5rem;}
	}

	.mobile-menu{
		&__content{padding: 0 32px;}
	}

	.main-menu{
		&__item,
		&__link{
			font-size: 1.5rem;
		}
	}

	.header-contacts{font-size: 1.5rem;}
}