footer.footer
	.container
		.row
			.col-12
				nav.footer-menu.d-none.d-md-block
					ul.footer-menu__list
						-
							var list=[
								{
									text:'Обслуживание объектов',
									sub:[
										'Электрические станции',
										'Котельные',
										'Тепловые сети',
										'Электрические сети',
										'Газоперерабатывающие заводы',
										'Химические заводы',
										'Нефтеперерабатывающие заводы',
										'Топливопроводы',
										'Газопроводы',
										'Сети водоснабжения и водоотведения',
										'Резервуары',
										'Прочие инженерные сооружения',
									]
								},
								{
									text:'Строительство, реконструкция, ремонт и техническое обслуживание',
									sub:[
										'объектов энергетического комплекса',
										'объектов инфраструктуры населённых пунктов ',
										'производственных зданий и сооружений',
										'зданий складского назначения',
										'жилых домов',
									]
								},
								{
									text:'Монтаж, ремонт и наладка ',
									sub:[
										'основного и вспомогательного технологического оборудования производственных предприятий.',
										'электрооборудования, внутренних сетей освещения производственных объектов. ',
										'Установка систем вентиляции и кондиционирования, систем видеонаблюдения и связи.',
										'Устройство кровель, фасадов, осуществление внутренних и наружных отделочных и завершающих работ.',
										'Производство общестроительных работ. ',
										'Производство земляных работ.',
										'Производство теплоизоляционных работ.',
										'Производство антикоррозионных работ.',
										'Монтаж прочего инженерного оборудования.',
										'Аренда строительных машин и оборудования.',
									]
								},
							]

						each item in list
							li.footer-menu__item
								a(href="#").footer-menu__link= item.text

								if(item.sub)
									ul.footer-menu__sub
										each sub in item.sub
											li.footer-menu__sub-item
												a(href="#").footer-menu__sub-link= sub
				
				.footer__copyright © 2018 ООО "ВостокСтройЭнергоРемонт"

				.footer__info
					.footer-contact
						.footer-contact__item
							.footer-contact__icon
								+svg('ic-call','ic-call', '15', '15')
							.footer-contact__text
								a(href="tel:+74232098541") +7(423)209-85-41
								br
								a(href="tel:+74232392540") +7(423)239-25-40

						.footer-contact__item
							.footer-contact__icon
								+svg('ic-email','ic-email', '17', '13')
							.footer-contact__text
								a(href="mailto:vser@vser.ru") vser@vser.ru

						.footer-contact__item
							.footer-contact__icon
								+svg('ic-address','ic-address', '15', '20')
							.footer-contact__text
								.footer-contact__address 690090, г. Владивосток, ул. Западная 29 ст.2, оф.&nbsp;416

					.footer-soc.d-none.d-md-inline-flex
						a(href="#").footer-soc__item
							+svg('ic-instagram','ic-instagram', '21', '21')